/*
    تمام استایلا دل بخواهی هستند و میتونید همشون رو تغییر بدید 

*/

@font-face {
    font-family: sans;
    src: url(font.ttf);
}

* {
    font-family: sans;
}

body {
    text-align: center;
}

h2 {
    color: rgb(23, 178, 23);
}

input {
    width: 500px;
    height: 20px;
    border-radius: 15px;
    padding: 5px 15px;
    border: 2px dotted black;
    margin: 20px;
    outline: none;
}

button {
    background-color: green;
    border-radius: 5px;
    padding: 10px 35px;
    color: white;
    border: none;
    cursor: pointer;
}

video {
    border-radius: 15px;
}

/*
    zmat24
*/